---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - "2020-03-02"
    url: https://api.stripe.com/v1/account
    method: GET
  response:
    body: |
      {
        "id": "acct_1Jjri3AM0pItg6Bc",
        "object": "account",
        "capabilities": {
          "acss_debit_payments": "inactive",
          "afterpay_clearpay_payments": "inactive",
          "bancontact_payments": "inactive",
          "card_payments": "inactive",
          "eps_payments": "inactive",
          "giropay_payments": "inactive",
          "ideal_payments": "inactive",
          "link_payments": "inactive",
          "p24_payments": "inactive",
          "sepa_debit_payments": "inactive",
          "sofort_payments": "inactive",
          "transfers": "inactive",
          "us_bank_account_ach_payments": "inactive"
        },
        "charges_enabled": false,
        "country": "US",
        "default_currency": "usd",
        "details_submitted": false,
        "payouts_enabled": false,
        "settings": {
          "bacs_debit_payments": {
          },
          "branding": {
            "icon": null,
            "logo": null,
            "primary_color": null,
            "secondary_color": null
          },
          "card_issuing": {
            "tos_acceptance": {
              "date": null,
              "ip": null
            }
          },
          "card_payments": {
            "statement_descriptor_prefix": "KTEST"
          },
          "dashboard": {
            "display_name": "KTM but not the motorcycle ",
            "timezone": "America/New_York"
          },
          "payments": {
            "statement_descriptor": "KYLE TEST",
            "statement_descriptor_kana": null,
            "statement_descriptor_kanji": null
          },
          "payouts": {
            "debit_negative_balances": true,
            "schedule": {
              "delay_days": 2,
              "interval": "manual"
            },
            "statement_descriptor": null
          },
          "sepa_debit_payments": {
          }
        },
        "type": "standard"
      }
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - "2020-03-02"
    status: 200 OK
    code: 200
    duration: ""
